* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

header {
	width: 100%;
	height: 70px;
	background-color: #EC715F
}

.container {
	width: 1024px;
	margin: 0 auto; /* 確認 */
}
.logo {
	float: left;
	height: 70px;
}

.navgroup {
	float: right;
}

.nav-list {
	float: left;
	line-height: 70px;
	list-style: none;
	padding: 0 30px;
	font-size: 16px;
	color: #FAFAFA;
}

/* main-visual */
.main-visual {
	width: 100%;
	height: 650px;
	background-image: url(img/mv.png);
	background-size: cover;
	background-position: center;
}
.main-visual-title {
	padding-top: 200px;
	text-align: center;
	font-size: 64px;
	color: #FAFAFA;
}
.main-visual-text {
	text-align: center;
	padding-top: 10px;
	font-size: 20px;
	color: #FAFAFA;
}

/* Portforio/Feature/Profile共通 */
.section-title {
	padding-top: 90px;
	text-align: center;
	font-size: 32px;
	color: #000000;
}
.section-title::after {
	content: '';
	display: block;
	width: 70px;
	height: 3px;
	margin: 8px auto 30px auto;
	background-color: #EC715F;
}
.section-text {
	text-align: center;
	font-size: 16px;
}

/* portfolio */
.portfolio {
	background-color: #ECEFF1;
}
.portfolio-item {
	width: 920px;
	padding: 30px 0 90px 0;
	margin: 0 auto;
}
.portfolio-item-img {
	float: left;
	width: 300px;
	height: 250px;
	margin: 0 10px 10px 0;
	background-size: cover;
	background-position: center;
}
.portfolio-item-img:nth-child(3n) {
	margin-right: 0;
}
.portfolio-item-img:nth-child(1) {
	background-image: url(img/sketch.jpg);
}
.portfolio-item-img:nth-child(2) {
	background-image: url(img/websuku.png);
}
.portfolio-item-img:nth-child(3) {
	background-image: url(img/write.jpg);
}
.portfolio-item-img:nth-child(4) {
	background-image: url(img/webcamp.png);
}
.portfolio-item-img:nth-child(5) {
	background-image: url(img/talk.jpg);
}
.portfolio-item-img:nth-child(6) {
	background-image: url(img/webcamp-mother.png);
}

/* Feature */
.strength-area {
	width: 980px;
	padding: 30px 0 90px 0;
	margin: 0 auto;
	color: #000000;
}
.strength {
	float: left;
	width: 320px;
	margin-right: 10px;
	font-size: 60px;
	text-align: center;
}
.strength:nth-child(3) {
	margin-right: 0;
}
.strength-title {
	font-size: 20px;
	padding: 10px 0;
}
.strength-text {
	font-size: 16px;
	text-align: left;
}

/* Profile */
.profile {
	background-color: #ECEFF1;
	color: #000000;
}
.profile-area {
	width: 1024px;
	padding: 30px 0 90px 0;
	margin: 0 auto;
}
.profile-left {
	float: left;
	width: 512px;
}
.profile-icon {
	width: 250px;
	height: 250px;
	margin: 0 auto;
	border-radius: 50%;
	background-image: url(img/my-icon.jpg);
}
.profile-right {
	float: right;
	width: 512px;
}
.profile-right-titile {
	font-size: 20px;
	margin: 20px 0 5px 0;
}
.profile-right-titile:first-child {
	margin-top: 0px;
}
.profile-right-text {
	font-size: 16px;
}

/* Contact */
.info-area {
	width: 800px;
	padding: 30px 0 90px 0;
	margin: 0 auto;
}
.info-left {
	float: left;
	width: 400px;
}
.info-title {
	font-size: 20px;
	padding: 20px 0 5px 0;
}
.info-title:first-child {
	padding: 0 0 5px 0;
}
.info-left-content {
	width: 130px;
	margin: 0 auto;
}
.info-right {
	float: right;
	width: 400px;
}
.info-right-content {
	width: 180px;
	margin: 0 auto;
}
.info-right-content .fab {
	font-size: 50px;
	margin-right: 20px;
}
.info-right-content .fab:last-child {
	font-size: 50px;
	margin-right: 0;
}
.info-sns-title {
	font-size: 20px;
	padding-bottom: 5px;
}


footer {
	width: 100%;
	line-height: 60px;
	text-align: center;
	font-size: 16px;
	color: #FAFAFA;
	background-color: #EC715F

}

/* レスポンシブ */
@media screen and (max-width:768px) {
	header {
		width: 100%;
		height: 50px;
	}
	.logo {
		height: 50px;
	}

	.navgroup {
		float: none;
		display: none;
	}
	.nav-list {
		float: none;
	}
	.hamburger-menu {
		float: right;
		width: 40px;
		height: 40px;
		margin: 5px 0;
		margin-right: 5%;
		border: 1px solid #FAFAFA;
	}
	.line {
		display: block;
		width: 23px;
		height: 2px;
		margin: 8px auto;
		background-color: #FAFAFA;
	}

	.container {
		width: 90%;
	}

	.main-visual {
		width: 100%;
		height: 650px;
		background-image: url(img/code.png);
		background-size: cover;
		background-position: center;
	}

	.main-visual-title {
		padding-top: 200px;
		text-align: center;
		font-size: 40px;
		color: #FAFAFA;
	}
	.main-visual-text {
		padding-top: 10px;
		text-align: center;
		font-size: 18px;
		color: #FAFAFA;
	}

	.sp-none {
		display: none;
	}

	.portfolio {
		padding: 0 5%;
	}
	.portfolio-item {
		width: 300px;
	}

	.portfolio-item-img {
		float: none;
	}
	.portfolio-item-img:nth-child(odd) {
		display: none;
	}
	.portfolio-item-img:nth-child(2) {
		margin: 0;
	}

	.strength-area {
		width: 320px;
	}

	.strength {
		float: none;
		margin-right: none;
		margin-top: 10px;
	}
	.strength:nth-child(1) {
		margin-top: 0;
	}

	.profile {
		padding: 0 5%;
	}
	.profile-area {
		width: 90%;
	}
	.profile-left {
		float: none;
		width: 100%;
	}
	.profile-right {
		float: none;
		width: 100%;
		text-align: center;
	}
	.profile-right-titile:first-child {
		margin-top: 20px;
	}
	.profile-right-titile {
		margin-top: 20px;
	}

	.info-area {
		width: 100%;
	}
	.info-left {
		float: none;
		width: 100%;
		text-align: center;
	}
	.info-right {
		float: none;
		width: 100%;
		text-align: center;
	}
	.info-title:first-child {
		padding: 20px 0 5px 0;
	}
	.info-sns-title {
		padding: 20px 0 5px 0;
	}
	.info-right-content .fab {
		padding-right: 8px;
	}

}